<html>
<title>Examination Seat Allotment</title>
    <body>
        <form method = "post" action = "{{ url_for('ExaminationSeatAllotment') }}">
            <input type = "checkbox" name = "scode" id = "ML" value = "ue14cs401"> UE14CS401<br>
            <input type = "checkbox" name = "scode" id = "SE" value = "ue14cs402"> UE14CS402<br>
            <input type = "checkbox" name = "scode" id = "OOMD" value = "ue14cs403"> UE14CS403<br>
            <input type = "checkbox" name = "scode" id = "DP" value = "ue14cs404"> UE14CS404<br>
            <input type = "checkbox" name = "scode" id = "AIW" value = "ue14cs405"> UE14CS405<br>
            <input type = "checkbox" name = "scode" id = "RM" value = "ue14cs406"> UE14CS406<br>

            <input type = "checkbox" name = "hallcode" id = "ML" value = "B401"> B401<br>
            <input type = "checkbox" name = "hallcode" id = "SE" value = "B402"> B402<br>
            <input type = "checkbox" name = "hallcode" id = "OOMD" value = "B403"> B403<br>
            <input type = "checkbox" name = "hallcode" id = "DP" value = "B404"> B404<br>
            <input type = "checkbox" name = "hallcode" id = "AIW" value = "B405"> B405<br>
            <input type = "checkbox" name = "hallcode" id = "RM" value = "B406"> B406<br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>