<html>
   <body>
      
      <form action = "{{ url_for('addMemberToDatabase') }}" method = "POST">
         <h3>Member Information</h3>
         Name<br>
         <input type = "text" name = "name" /></br>
         USN<br>
         <input type = "text" name = "USN" /></br>
         Club ID<br>
         <input type = "text" name = "clubId" /></br>
         Email<br>
         <textarea name = "email" ></textarea><br>
         
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>
