.faculty {
    position: absolute;
    left: 150px;
    top: 250px;
    width: 300px;
    height: 400px;
    background-color: cyan;
    z-index: 2;
    box-shadow: rgba(0,0,0,0.14) -2px 3px 2px 1px;
}
.faculty button {
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: 100px;
    background-color:darkturquoise;
    border-color:cyan;
    height:40px;
}
.student {
    position: absolute;
    left: 550px;
    top: 250px;
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    z-index: 2;
    box-shadow: rgba(0,0,0,0.14) -2px 3px 2px 1px;
}

.student button{
    position:absolute;
    bottom:20px;
    left:100px;
    width:100px;
    background-color:limegreen;
    border-color:aquamarine;
    height:40px;

}
.wrapper h3{
    position:relative;
    left:40%;
}
.wrapper p {
    position: relative;
    left: 10%;
    width:85%;
    line-height:30px;
}

.loginForm form{
    width:200px;
    position:relative;
    left:10%;
}
.loginForm input {
    position:relative;
    left:50px;
    margin-top:10px;
}