<!DOCTYPE html>
<html>
<head>
	<title>Faculty Feedback</title>
	<style type="text/css">
		
	</style>
</head>

<body>
	<form method="post" action="{{ url_for('faculty_save_feedback') }}">
		<textarea id="feedback" name="feedback" cols="50" rows="5"></textarea>
		<input type="hidden" name="fid" value="{{ advisor.fid }}">
		<input type="hidden" name="usn" value="{{ student.usn }}"><br>
		<input type="submit" value="Submit Feedback">
	</form><br>

	<center>
			{% if feedbacks|length > 0 %}
			<table>
				<thead>
					<tr><th>Date and Time</th><th>Feedback</th></tr>
				</thead>
				<tbody>
					{% for feedback in feedbacks %}
					<tr><td> {{ feedback.date }} </td><td> {{ feedback.feedback }} </td></tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div> No feedback given yet! </div>
			{% endif %}
	</center>
</body>
</html>