<!doctype html>
<html>
<style type="text/css">
   .ta
   { 
         position: absolute;
         top: 10%;
         z-index: -1;
         width:100%;
   }

</style>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
   <body>
   	<div class="container">
      <p class="h3 text-center mb-4">Attendance Information</p>
      <table class="ta table-bordered">
         <thead>
            <td>Event ID</td>
            <td>USN</td>
            <td>Date</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["eventId"]}}</td>
               <td>{{row["usn"]}}</td>
               <td>{{row["date"]}}</td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>
