<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Club Management System</a>
            </div>
              <ul class="nav navbar-nav">
              <li><a href="/addNewClub">New Club</a></li>
              <li><a href="/addNewMember">New Member</a></li>
              <li><a href="/addNewEvent">New Event</a></li>
              <li><a href="/addVolunterForAnEvent">New Volunteer</a></li>
              <li><a href="/listAllMembers">View Members</a></li>
              <li><a href="/listAllEvents">View Event</a></li>
              <li><a href="/listAllVolunteers">View Volunteer</a></li>
              <li><a href="/markAttendanceOfAnEvent">Mark Attendance</a></li>
              <li><a href="/listAllAttendance">View Attendance</a></li>
            </ul>
          </div>
        </nav>
    	<div class="container">
            <form action = "{{ url_for('addVolunterToDatabase') }}" method = "POST">
            <p class="h3 text-center mb-4">Volunteer Information</p>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="defaultForm-email" name="usn" class="form-control">
                <label for="defaultForm-email">USN</label>
            </div>
            <br>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="text" id="defaultForm-pass" name = "eventId" class="form-control">
                <label for="defaultForm-pass">Event ID</label>
            </div>	
            <div class="text-center">
                <input type = "submit" value = "submit" class="btn btn-default"/><br>
            </div>
    	</div>
    </body>
</html>
